.not-found {
    /*min-width: 250px;*/
    width: 100%;
    padding: 0 40px 0 40px;
    align-content: center;
    text-align: center;
}

.not-found-parent {
    width: 100%;
    align-content: center;
    text-align: center;
}

@media only screen and (min-width: 400px) {
    .not-found {
        width: 50%;
    }
}