<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Restablecer Contraseña</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
</div>
<form class="ng-pristine ng-valid" [formGroup]="modelForm" (ngSubmit)="sendRequest()">
    <div #content id="content" class="modal-body">
        <p class="mrg-btm-15 font-size-13">Le enviaremos un correo electrónico para restablecer su contraseña, por favor, ingrese su <b>nombre de usuario</b>
        </p>
        <div class="form-group">
            <input id="userName" name="userName" type="text" class="form-control" formControlName="userName" placeholder="Usuario" required>
            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="fcb-alert alert alert-danger">
                <div *ngIf="userName.errors.required">
                    El campo "Usuario" es requerido.
                </div>
                <div *ngIf="userName.errors.maxlength">
                    El campo "Usuario" no debe tener más de 100 caracteres.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" (click)="modal.close()">Cancelar</button>
        <button type="submit" class="btn btn-info">Enviar</button>
    </div>
</form>