<div class="mat-elevation-z8">
  <mat-card>
    <mat-form-field style="margin-right: 10px;">
      <input matInput maxlength="20" (keypress)="keyPress($event)" (keyup.enter)="reload()" pattern="[0-9]*"
        inputmode="numeric" placeholder="Número de Orden" [(ngModel)]="listParam.extName">
      <button mat-button *ngIf="listParam.extName" matSuffix mat-icon-button aria-label="Clear"
        (click)="listParam.extName=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field style="margin-right: 10px;">
      <mat-label>Estado</mat-label>
      <mat-select [(value)]="listParam.noSaleOrderId">
        <mat-option *ngFor="let item of noSaleOrders" [value]="item.id">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field> 
    <button mat-mini-fab color="primary" (click)="reload()" aria-label="Buscar" style="margin-right: 10px;">
      <mat-icon>search</mat-icon>
    </button>
    &nbsp;&nbsp;
    <div *ngIf="anyChecked()" class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary margin-left" (click)="resetearSeleccionados()"> Sincronizar Seleccionados</button>
        </div>
    </div>
    &nbsp;&nbsp;
  </mat-card>
</div>
<div class="mat-elevation-z8">
  <div class="table-responsive">
    <div class="container-table">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef>
              <input *ngIf="anyToCheck()" type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
          <td mat-cell *matCellDef="let element">
              <input *ngIf="element.saleOrderId == null" type="checkbox" value="{{element.id}}" [(ngModel)]="element.bSelected">
          </td>
      </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="element.saleOrderId == null" mat-button [matMenuTriggerFor]="menu">Acciones</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngIf="element.saleOrderId == null" (click)="sync(element);">Sincronizar</button>
            </mat-menu>
          </td>
        </ng-container>
        <ng-container matColumnDef="orderNumber">
          <th mat-header-cell *matHeaderCellDef> Orden </th>
          <td mat-cell *matCellDef="let element">
            <a href="{{element.adminUrl}}" target="_blank">#{{element.orderNumber}}</a>
          </td>
        </ng-container>     
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element">{{element.createdAt | date:'yyyy/MM/dd HH:mm:ss'}}</td>
        </ng-container>  
        <ng-container *ngFor="let item of autoColumns" matColumnDef="{{item.name}}">
          <th mat-header-cell *matHeaderCellDef> {{ item.title}} </th>
          <td mat-cell *matCellDef="let element"> {{element[item.name]}} </td>
        </ng-container>
        <ng-container matColumnDef="saleOrderId">
          <th mat-header-cell *matHeaderCellDef> Sincronizada? </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.saleOrderId"><b class="badge badge-success">Si</b></span> <span *ngIf="!element.saleOrderId"><b  class="badge badge-danger">No</b></span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
      </table>
    </div>
  </div>
</div>
<div class="mat-elevation-z8">
  <mat-card>
    <span style="margin-right: 10px;">
      Cantidad de Registros: <b>{{dataSource.data.length}}</b>
    </span>
    <button mat-mini-fab color="primary" [disabled]="!listParam.loadMore" (click)="fetchNext()" aria-label="Siguiente">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </mat-card>
</div>
