<div class="authentication">
    <div class="sign-in-2">
        <!-- <div class="container-fluid no-pdd-horizon bg" style="background-image: url('assets/images/others/img-30.jpg')"> -->
        <div class="container-fluid no-pdd-horizon bg">
            <div class="row">
                <div class="col-md-10 mr-auto ml-auto">
                    <div class="row">
                        <div class="mr-auto ml-auto full-height height-100 d-flex align-items-center">
                            <div class="vertical-align full-height">
                                <div class="table-cell">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="pdd-horizon-30 pdd-vertical-30">
                                                <div class="mrg-btm-30">
                                                    <img class="img-responsive inline-block" src="assets/images/logo/logo_farmacorp.png" alt="">
                                                    <h2 class="inline-block pull-right no-mrg-vertical pdd-top-15">
                                                        Restaurar Contraseña</h2>
                                                </div>
                                                <p class="mrg-btm-15 font-size-13">Por favor, ingrese su nueva contraseña</p>
                                                <form class="ng-pristine ng-valid" [formGroup]="modelForm" (ngSubmit)="change_password()">
                                                    <div class="form-group">
                                                        <input id="new_password" autocomplete="nope"  type="password" name="new_password" class="form-control" formControlName="new_password" placeholder="Nueva Contraseña" required>
                                                        <div *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)" class="fcb-alert alert alert-danger">
                                                            <div *ngIf="new_password.errors.required">
                                                                El campo "Nueva Contraseña" es requerido.
                                                            </div>
                                                            <div *ngIf="new_password.errors.maxlength">
                                                                El campo "Nueva Contraseña" no debe tener más de 100 caracteres.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="confirm_password" autocomplete="nope"  type="password" name="confirm_password" class="form-control" formControlName="confirm_password" placeholder="Confirmar Nueva Contraseña" required>
                                                        <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)" class="fcb-alert alert alert-danger">
                                                            <div *ngIf="confirm_password.errors.required">
                                                                El campo "Confirmar Contraseña" es requerido.
                                                            </div>
                                                            <div *ngIf="confirm_password.errors.maxlength">
                                                                El campo "Confirmar Contraseña" no debe tener más de 100 caracteres.
                                                            </div>
                                                        </div>
                                                        <div *ngIf="modelForm.errors?.confirmPassword && (modelForm.touched || modelForm.dirty)" class="fcb-alert alert alert-danger">
                                                            <div>
                                                                El campo "Confirmar Nueva Contraseña" debe ser igual a la "Nueva contraseña"
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mrg-top-20 text-right">
                                                        <button type="button" class="btn btn-default" (click)="goLogin()">Cancelar</button>
                                                        <button type="submit" class="btn btn-info">Enviar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
