table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.exito {
  background-color:forestgreen;
  color:white;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
  margin : 5px;
}

.falla {
  background-color: orangered;
  color: white;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
  margin: 5px;
}
