input.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
  border-radius: 5px;
}

input.ng-invalid {
  border-left: 5px solid #a94442 !important; /* red */
  border-color: #a94442 !important; /* red */
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #a94442 !important;
  border-radius: 5px;
}
