<form class="ng-pristine ng-valid" [formGroup]="modelForm" (ngSubmit)="change_password()">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Reseteo de Contraseña</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="form-group">
                    <input hidden id="user_id" autocomplete="nope"  type="text" name="user_id" class="form-control" formControlName="user_id" required readonly />
                    <input id="user_name" type="text" name="user_name" class="form-control" placeholder="Usuario" required readonly [value]="usuarioListado.username || 'Seleccionar Usuario'" (click)="searchUser();" />
                    <div *ngIf="user_id.invalid" class="fcb-alert alert alert-danger">
                        <div *ngIf="user_id.errors.required">
                            El campo "Usuario" es requerido.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input id="new_password" autocomplete="nope" type="password" name="new_password" class="form-control" formControlName="new_password" placeholder="Nueva Contraseña" required>
                    <div *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)" class="fcb-alert alert alert-danger">
                        <div *ngIf="new_password.errors.required">
                            El campo "Nueva Contraseña" es requerido.
                        </div>
                        <div *ngIf="new_password.errors.maxlength">
                            El campo "Nueva Contraseña" no debe tener más de 100 caracteres.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input id="confirm_password" autocomplete="nope"  type="password" name="confirm_password" class="form-control" formControlName="confirm_password" placeholder="Confirmar Nueva Contraseña" required>
                    <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)" class="fcb-alert alert alert-danger">
                        <div *ngIf="confirm_password.errors.required">
                            El campo "Confirmar Contraseña" es requerido.
                        </div>
                        <div *ngIf="confirm_password.errors.maxlength">
                            El campo "Confirmar Contraseña" no debe tener más de 100 caracteres.
                        </div>
                    </div>
                    <div *ngIf="modelForm.errors?.confirmPassword && (modelForm.touched || modelForm.dirty)" class="fcb-alert alert alert-danger">
                        <div>
                            El campo "Confirmar Nueva Contraseña" debe ser igual a la "Nueva contraseña"
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="submit" class="btn btn-success">Aceptar</button>
    </div>
</form>
