.firma {
    margin-top: 80px;
}

.firmalabel {
    text-align: center;
}

.titulo {
    margin-bottom: 5px;
    font-weight: bold;
}

#imprimible {
    padding: 10px;
}

.contentstyle {
    font-size: 18px;
}