<ng-template #content let-modal>
    <form class="ng-pristine ng-valid" [formGroup]="modelForm" (ngSubmit)="change_password()">
        <div class="modal-header">
            <img class="img-responsive inline-block" src="assets/images/logo/logo_farmacorp.png" alt="">
            <h2 class="inline-block pull-right no-mrg-vertical pdd-top-15">
                Cambio de contraseña</h2>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="mrg-top-40">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                        <p class="mrg-btm-15 font-size-13">Por favor ingresar Contraseña Actual y la Nueva Contraseña
                        </p>
                        <div class="form-group">
                            <input id="password" autocomplete="nope"  type="password" name="password" class="form-control" formControlName="password" placeholder="Contraseña" required>
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="fcb-alert alert alert-danger">
                                <div *ngIf="password.errors.required">
                                    El campo "Contraseña" es requerido.
                                </div>
                                <div *ngIf="password.errors.maxlength">
                                    El campo "Contraseña" no debe tener más de 100 caracteres.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="new_password" autocomplete="nope"  type="password" name="new_password" class="form-control" formControlName="new_password" placeholder="Nueva Contraseña" required>
                            <div *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)" class="fcb-alert alert alert-danger">
                                <div *ngIf="new_password.errors.required">
                                    El campo "Nueva Contraseña" es requerido.
                                </div>
                                <div *ngIf="new_password.errors.maxlength">
                                    El campo "Nueva Contraseña" no debe tener más de 100 caracteres.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="confirm_password" autocomplete="nope"  type="password" name="confirm_password" class="form-control" formControlName="confirm_password" placeholder="Confirmar Nueva Contraseña" required>
                            <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)" class="fcb-alert alert alert-danger">
                                <div *ngIf="confirm_password.errors.required">
                                    El campo "Confirmar Contraseña" es requerido.
                                </div>
                                <div *ngIf="confirm_password.errors.maxlength">
                                    El campo "Confirmar Contraseña" no debe tener más de 100 caracteres.
                                </div>
                            </div>
                            <div *ngIf="modelForm.errors?.confirmPassword && (modelForm.touched || modelForm.dirty)" class="fcb-alert alert alert-danger">
                                <div>
                                    El campo "Confirmar Nueva Contraseña" debe ser igual a la "Nueva contraseña"
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="close(modal)" class="btn btn-default">Cancelar</button>
            <button type="submit" class="btn btn-success">Aceptar</button>
        </div>
    </form>
</ng-template>
